# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    #esi: true
    #fragments: true

when@test:
    framework:
        test: true
